@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), 
    url("../fonts-1/UbuntuLight.woff2") format('woff2'); 
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), 
    url("../fonts-1/UbuntuRegular.woff2") format('woff2'); 
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), 
    url("../fonts-1/UbuntuMedium.woff2") format('woff2'); 
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: "Oswald";
    src: local("Oswald"), 
    url("../fonts-1/OswaldMedium.woff2") format('woff2'); 
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
    } 

    @font-face {
    font-family: "Oswald";
    src: local("Oswald"), 
    url("../fonts-1/OswaldSemiBold.woff2") format('woff2'); 
    font-weight: 600;
    font-style: normal;
    font-display: swap; 
    } 